body {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

input {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 5px;
    margin: 0 5px 5px 0;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
}

.text-input {
    position: relative;
    font-family: monospace;
    padding: 5px 0 20px 5px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0);

    div {
        pointer-events: none;
        color: rgba(0, 0, 0, 0);
        font-size: 1rem;
        white-space: pre-wrap;
        min-height: 20px;

        mark {
            border-radius: 2px;
        }

        mark.mark-tag {
            background-color: #d4e9ab;
        }

        mark.mark-issue {
            background-color: #e16a2e75;
        }

        mark.mark-clickable {
            cursor: pointer;
            pointer-events: auto;
            z-index: 10;
            position: relative;
        }

        mark.mark-at {
            background-color: #bbbcee;
        }
    }

    textarea {
        z-index: 1;
        font-size: 1rem;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 5px 5px 20px 5px;
        margin: 0;
        cursor: pointer;
        color: rgba(50, 80, 60, 1);
        background: rgba(0, 0, 0, 0);
        overflow-y: auto;
        resize: none;
        border: none;
    }
}


.text-area:focus {
    outline: none;
}

.container {
    width: 800px;

    h1 {
        margin-left: 5px;
        font-size: 1.8rem;
    }

    .entry {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        .entry-header {
            display: flex;
            justify-content: space-between;

            input[name=subject] {
                flex-grow: 1;
            }

            input[name=duration] {
                text-align: right;
                max-width: 80px;
            }
        }
    }

    .entry-editing {
        input {
            border: 1px solid black;
            cursor: auto;
        }

        .text-input {
            border: 1px solid black;

            textarea {
                cursor: auto;
            }
        }
    }
}
